.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@-webkit-keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes rotate {
  from {
    opacity: 0;
    -webkit-transform: rotate(0deg) translateY(100%);
            transform: rotate(0deg) translateY(100%); }
  to {
    opacity: 1;
    -webkit-transform: rotate(360deg) translateY(0);
            transform: rotate(360deg) translateY(0); } }

@keyframes rotate {
  from {
    opacity: 0;
    -webkit-transform: rotate(0deg) translateY(100%);
            transform: rotate(0deg) translateY(100%); }
  to {
    opacity: 1;
    -webkit-transform: rotate(360deg) translateY(0);
            transform: rotate(360deg) translateY(0); } }

.items-left {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0); }
  .items-left.active {
    -webkit-animation-name: fadeInLeft;
            animation-name: fadeInLeft; }

.items-right {
  opacity: 0;
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0); }
  .items-right.active {
    -webkit-animation-name: fadeInRight;
            animation-name: fadeInRight; }

.items-top {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0); }
  .items-top.active {
    -webkit-animation-name: fadeInDown;
            animation-name: fadeInDown; }

.items-bottom {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0); }
  .items-bottom.active {
    -webkit-animation-name: fadeInUp;
            animation-name: fadeInUp; }

.items-rotate {
  opacity: 0;
  -webkit-transform: rotate(0deg) translateY(100%);
          transform: rotate(0deg) translateY(100%); }
  .items-rotate.active {
    -webkit-animation-name: rotate;
            animation-name: rotate; }

.items-fade {
  opacity: 0; }
  .items-fade.active {
    -webkit-animation-name: fade;
            animation-name: fade; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.items-delay-1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

.items-delay-2 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }

.items-delay-3 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; }

.items-delay-4 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s; }

.items-delay-5 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s; }

.items-delay-6 {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s; }

.items-delay-7 {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s; }

.items-delay-8 {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s; }

.items-delay-9 {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s; }

.items-delay-10 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s; }

.wp {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden; }

.page {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  position: relative; }
  .page img {
    width: 100%;
    height: auto;
    display: block; }

.page1 {
  background-image: url("../img/page1-bg.jpg"); }

.page2 {
  background-image: url("../img/page2-bg.jpg"); }

.page3 {
  background-image: url("../img/page3-bg.jpg"); }

.page4 {
  background-image: url("../img/page4-bg.jpg"); }

.page1 .logo {
  width: 143.5px;
  height: 77.5px;
  position: absolute;
  top: 17px;
  left: 9.5px; }

.page1 .text {
  width: 164%;
  position: absolute;
  left: -25%;
  top: 75px;
  z-index: 1; }

.page1 .btn {
  width: 170px;
  height: 50px;
  position: absolute;
  left: 50%;
  margin-left: -83.25px;
  bottom: 50px; }

.page1 .libao {
  background: rgba(255, 255, 255, 0.5);
  height: 125px;
  width: 100%;
  position: absolute;
  bottom: 108px;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  z-index: 999; }
  .page1 .libao li {
    width: 20%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    position: relative;
    overflow: hidden; }
    .page1 .libao li img {
      width: 100%; }
    .page1 .libao li .status {
      width: 100%;
      height: 23px;
      background: red;
      position: absolute;
      top: 0;
      left: 0;
      line-height: 23px;
      text-align: center;
      color: #fff;
      font-size: 12px;
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
      left: -27%;
      top: 7%; }

.page1 .renwu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; }

.page2 .gril {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

.page2 .text {
  width: 80%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 200px; }

.page2 .baoxiang {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  position: absolute;
  bottom: 192px;
  padding: 0 15px; }
  .page2 .baoxiang li {
    width: 30%; }

.page2 .sec {
  width: 60%;
  position: absolute;
  bottom: 161px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 12px; }
  .page2 .sec span {
    float: left; }
  .page2 .sec a {
    float: right; }

.page2 .btn {
  position: absolute;
  width: 239px;
  height: 51px;
  bottom: 98px;
  left: 50%;
  margin-left: -119.5px; }

.page2 .huodongshuoming {
  position: absolute;
  bottom: 40px;
  left: 10%;
  width: 80%; }

.page3 .gril {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

.page3 .text {
  position: absolute;
  width: 55%;
  top: 238px;
  left: 5%; }

.page3 .luobo1 {
  position: absolute;
  bottom: 15%;
  left: 0;
  width: 100%;
  height: calc(7.3vh + 185.5px); }
  .page3 .luobo1 .tab {
    background: url("../img/tab1.png") no-repeat 0 0;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 7.3vh;
    background-size: 100%; }
    .page3 .luobo1 .tab.done {
      background: url("../img/tab2.png") no-repeat 0 0;
      background-size: 100%; }
    .page3 .luobo1 .tab li {
      width: 50%;
      height: 100%; }
  .page3 .luobo1 .views {
    height: 195.5px;
    position: relative;
    width: 100%; }
    .page3 .luobo1 .views:before {
      height: 2px;
      width: 100%;
      content: '';
      background: #c82e4b;
      position: absolute;
      bottom: -2px;
      left: 0;
      z-index: 111; }
    .page3 .luobo1 .views .item {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: none; }
      .page3 .luobo1 .views .item .swiper-container {
        height: 195.5px; }

.gonextpage {
  width: 19px;
  height: 13px;
  background: url("../img/nextpage.png") no-repeat 0 0;
  position: fixed;
  z-index: 999;
  bottom: 15px;
  left: 50%;
  background-size: 100%;
  margin-left: -9.5px;
  -webkit-animation: start 1.5s infinite ease-in-out;
          animation: start 1.5s infinite ease-in-out; }
  .gonextpage.active {
    top: 15px;
    left: 50%;
    -webkit-animation: start2 1.5s infinite ease-in-out;
            animation: start2 1.5s infinite ease-in-out; }

.goindex {
  position: fixed;
  top: 0;
  right: 16px;
  width: 96px;
  height: 25px; }
  .goindex img {
    width: 100%;
    height: auto;
    display: block; }

@-webkit-keyframes start {
  0%, 30% {
    opacity: 0.2;
    -webkit-transform: translate(0, -15px);
            transform: translate(0, -15px); }
  60% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  100% {
    opacity: 0.2;
    -webkit-transform: translate(0, 5px);
            transform: translate(0, 5px); } }

@keyframes start {
  0%, 30% {
    opacity: 0.2;
    -webkit-transform: translate(0, -15px);
            transform: translate(0, -15px); }
  60% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  100% {
    opacity: 0.2;
    -webkit-transform: translate(0, 5px);
            transform: translate(0, 5px); } }

@-webkit-keyframes start2 {
  0%, 30% {
    opacity: 0.2;
    -webkit-transform: translate(0, -15px) rotate(180deg);
            transform: translate(0, -15px) rotate(180deg); }
  60% {
    opacity: 1;
    -webkit-transform: translate(0, 0) rotate(180deg);
            transform: translate(0, 0) rotate(180deg); }
  100% {
    opacity: 0.2;
    -webkit-transform: translate(0, 5px) rotate(180deg);
            transform: translate(0, 5px) rotate(180deg); } }

@keyframes start2 {
  0%, 30% {
    opacity: 0.2;
    -webkit-transform: translate(0, -15px) rotate(180deg);
            transform: translate(0, -15px) rotate(180deg); }
  60% {
    opacity: 1;
    -webkit-transform: translate(0, 0) rotate(180deg);
            transform: translate(0, 0) rotate(180deg); }
  100% {
    opacity: 0.2;
    -webkit-transform: translate(0, 5px) rotate(180deg);
            transform: translate(0, 5px) rotate(180deg); } }
