.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@-webkit-keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes rotate {
  from {
    opacity: 0;
    -webkit-transform: rotate(0deg) translateY(100%);
            transform: rotate(0deg) translateY(100%); }
  to {
    opacity: 1;
    -webkit-transform: rotate(360deg) translateY(0);
            transform: rotate(360deg) translateY(0); } }

@keyframes rotate {
  from {
    opacity: 0;
    -webkit-transform: rotate(0deg) translateY(100%);
            transform: rotate(0deg) translateY(100%); }
  to {
    opacity: 1;
    -webkit-transform: rotate(360deg) translateY(0);
            transform: rotate(360deg) translateY(0); } }

.items-left {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0); }
  .items-left.active {
    -webkit-animation-name: fadeInLeft;
            animation-name: fadeInLeft; }

.items-right {
  opacity: 0;
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0); }
  .items-right.active {
    -webkit-animation-name: fadeInRight;
            animation-name: fadeInRight; }

.items-top {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0); }
  .items-top.active {
    -webkit-animation-name: fadeInDown;
            animation-name: fadeInDown; }

.items-bottom {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0); }
  .items-bottom.active {
    -webkit-animation-name: fadeInUp;
            animation-name: fadeInUp; }

.items-rotate {
  opacity: 0;
  -webkit-transform: rotate(0deg) translateY(100%);
          transform: rotate(0deg) translateY(100%); }
  .items-rotate.active {
    -webkit-animation-name: rotate;
            animation-name: rotate; }

.items-fade {
  opacity: 0; }
  .items-fade.active {
    -webkit-animation-name: fade;
            animation-name: fade; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none; }

.items-delay-1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

.items-delay-2 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }

.items-delay-3 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; }

.items-delay-4 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s; }

.items-delay-5 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s; }

.items-delay-6 {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s; }

.items-delay-7 {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s; }

.items-delay-8 {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s; }

.items-delay-9 {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s; }

.items-delay-10 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s; }

.wp {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden; }

.page {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  position: relative; }
  .page img {
    width: 100%;
    height: auto;
    display: block; }

.page1 {
  background-image: url("../img/page1-bg.jpg"); }

.page2 {
  background-image: url("../img/page2-bg.jpg"); }

.page3 {
  background-image: url("../img/page3-bg.jpg"); }

.page4 {
  background-image: url("../img/page4-bg.jpg"); }

.page1 .logo {
  width: 44vw;
  height: 77.5px;
  position: absolute;
  top: 17px;
  left: 9.5px; }

.page1 .text {
  width: 164%;
  margin-left: -26%; }

.page1 .btn {
  width: 170px;
  height: 50px;
  bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 17.5px; }

.page1 .libao {
  background: rgba(255, 255, 255, 0.5);
  height: 125px;
  width: 100%;
  margin-top: -22%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  z-index: 999; }
  .page1 .libao li {
    width: 20%;
    height: 100%;
    position: relative;
    overflow: hidden; }
    .page1 .libao li img {
      width: 100%; }
    .page1 .libao li .status {
      width: 100%;
      height: 23px;
      background: red;
      position: absolute;
      top: 0;
      left: 0;
      line-height: 23px;
      text-align: center;
      color: #fff;
      font-size: 12px;
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
      left: -27%;
      top: 7%; }

.page1 .inners {
  width: 100%;
  margin-top: 8vh; }

.page1 .renwu {
  position: absolute;
  top: -18vh;
  left: -36vh;
  width: 200%; }

.page2 .gril {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

.page2 .text {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 34vh; }

.page2 .baoxiang {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  padding: 0 15px;
  margin-top: 26px;
  margin-bottom: 16.5px; }
  .page2 .baoxiang li {
    width: 30%; }

.page2 .sec {
  width: 61vw;
  font-size: 8px;
  *zoom: 1;
  margin-left: auto;
  margin-right: auto; }
  .page2 .sec:before, .page2 .sec:after {
    content: "";
    display: table; }
  .page2 .sec:after {
    clear: both;
    overflow: hidden; }
  .page2 .sec span {
    color: #a01333;
    float: left;
    width: 70%; }
  .page2 .sec a {
    float: right;
    width: 20%;
    text-align: right;
    color: #a01333; }

.page2 .btn {
  width: 195px;
  height: 51px;
  margin-left: -119.5px;
  margin-top: 6.5px;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto; }

.page2 .huodongshuoming {
  width: 80%;
  margin-left: auto;
  margin-right: auto; }

.page3 .gril {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

.page3 .text {
  width: 55%;
  margin-top: 30vh;
  margin-left: 10%;
  margin-bottom: 9px; }

.page3 .luobo1 {
  width: 100%;
  height: 236.5px; }
  .page3 .luobo1 .tab {
    background: url("../img/tab1.png") no-repeat 0 0;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 7.3vh;
    background-size: cover; }
    .page3 .luobo1 .tab.done {
      background: url("../img/tab2.png") no-repeat 0 0;
      background-size: cover; }
    .page3 .luobo1 .tab li {
      width: 50%;
      height: 100%; }
  .page3 .luobo1 .views {
    height: 195.5px;
    position: relative;
    width: 100%; }
    .page3 .luobo1 .views .item {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      border-bottom: 2px solid #c82e4b; }
      .page3 .luobo1 .views .item .swiper-container {
        width: 100%; }

.page4 .long {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.page4 .lunbosss {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40vh;
  margin-top: 144.5px; }
  .page4 .lunbosss .control {
    width: 20%;
    background-position: center 70%;
    background-repeat: no-repeat;
    background-size: 11%;
    height: 100%; }
    .page4 .lunbosss .control.next {
      background-image: url("../img/next.png"); }
    .page4 .lunbosss .control.prex {
      background-image: url("../img/prex.png"); }
  .page4 .lunbosss .imgs {
    position: relative;
    width: 60%;
    height: 100%; }
    .page4 .lunbosss .imgs img {
      position: absolute;
      top: 0;
      left: 0; }
      .page4 .lunbosss .imgs img.active {
        z-index: 1; }

.page4 .banquan {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 35px;
  background: #d9d9d9;
  text-align: center; }
  .page4 .banquan p {
    height: 50%;
    line-height: 17.5px;
    font-size: 12px; }
    .page4 .banquan p:nth-of-type(1) {
      border-bottom: 1px solid #89829d; }

.gonextpage {
  width: 19px;
  height: 13px;
  background: url("../img/nextpage.png") no-repeat 0 0;
  position: fixed;
  z-index: 999;
  bottom: 15px;
  left: 50%;
  background-size: 100%;
  margin-left: -9.5px;
  -webkit-animation: start 1.5s infinite linear alternate;
          animation: start 1.5s infinite linear alternate; }
  .gonextpage.active {
    top: 15px;
    left: 50%;
    -webkit-animation: start2 1.5s infinite linear alternate;
            animation: start2 1.5s infinite linear alternate; }

.goindex {
  position: fixed;
  top: 0;
  right: 16px;
  width: 96px;
  height: 25px; }
  .goindex img {
    width: 100%;
    height: auto;
    display: block; }

@-webkit-keyframes start {
  0% {
    opacity: 0.2;
    -webkit-transform: translate(0, -15px);
            transform: translate(0, -15px); }
  60% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  100% {
    opacity: 0.2;
    -webkit-transform: translate(0, 5px);
            transform: translate(0, 5px); } }

@keyframes start {
  0% {
    opacity: 0.2;
    -webkit-transform: translate(0, -15px);
            transform: translate(0, -15px); }
  60% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  100% {
    opacity: 0.2;
    -webkit-transform: translate(0, 5px);
            transform: translate(0, 5px); } }

@-webkit-keyframes start2 {
  0%,
  30% {
    opacity: 0.2;
    -webkit-transform: translate(0, -15px) rotate(180deg);
            transform: translate(0, -15px) rotate(180deg); }
  60% {
    opacity: 1;
    -webkit-transform: translate(0, 0) rotate(180deg);
            transform: translate(0, 0) rotate(180deg); }
  100% {
    opacity: 0.2;
    -webkit-transform: translate(0, 5px) rotate(180deg);
            transform: translate(0, 5px) rotate(180deg); } }

@keyframes start2 {
  0%,
  30% {
    opacity: 0.2;
    -webkit-transform: translate(0, -15px) rotate(180deg);
            transform: translate(0, -15px) rotate(180deg); }
  60% {
    opacity: 1;
    -webkit-transform: translate(0, 0) rotate(180deg);
            transform: translate(0, 0) rotate(180deg); }
  100% {
    opacity: 0.2;
    -webkit-transform: translate(0, 5px) rotate(180deg);
            transform: translate(0, 5px) rotate(180deg); } }

.mark {
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.8;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  display: none; }

.boxs, .yuyuebox, .zhaohuanbox, .libaobox {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #efefef;
  border: 2px solid #ab2326;
  z-index: 1000; }

.title, .zhaohuanbox h2, .libaobox h2 {
  font-size: 28px;
  text-align: center;
  color: #ab2326;
  font-weight: bold;
  margin-top: 29px; }

.yuyuebox {
  display: none;
  width: 78%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 22.5px 27px 20px 23.5px; }
  .yuyuebox .form-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    text-align: center; }
    .yuyuebox .form-group span {
      color: #ab2326;
      height: 15px;
      line-height: 15px;
      font-size: 10px;
      display: block; }
    .yuyuebox .form-group:nth-of-type(1) {
      margin-bottom: 11.5px; }
    .yuyuebox .form-group label {
      width: 20%;
      height: 27px;
      line-height: 27px;
      text-align: center;
      color: #ab2326;
      font-weight: bold;
      font-size: 12px; }
    .yuyuebox .form-group input[type="text"] {
      width: 70%;
      height: 27px;
      border: none;
      border-radius: 2.5px;
      font-size: 10px;
      line-height: 27px;
      text-indent: 1em;
      margin-left: 30px;
      background: #d5d5d5; }
    .yuyuebox .form-group:nth-of-type(3) {
      height: 15px;
      margin-top: 6.5px; }
      .yuyuebox .form-group:nth-of-type(3) input[type="radio"] {
        width: 10px;
        height: 10px;
        margin-left: 30%; }
  .yuyuebox .yuyue {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10px; }
    .yuyuebox .yuyue img {
      width: 116px;
      height: 30px; }

.zhaohuanbox {
  display: none;
  width: 80%;
  padding-bottom: 20px; }
  .zhaohuanbox h2 {
    margin-top: 8.5px;
    margin-bottom: 14px;
    font-size: 14px; }
  .zhaohuanbox .warp .up {
    *zoom: 1; }
    .zhaohuanbox .warp .up:before, .zhaohuanbox .warp .up:after {
      content: "";
      display: table; }
    .zhaohuanbox .warp .up:after {
      clear: both;
      overflow: hidden; }
    .zhaohuanbox .warp .up h3 {
      width: 20%;
      height: 23px;
      color: #fff;
      background: #ab2326;
      margin-left: 24px;
      text-align: center;
      line-height: 23px;
      font-size: 11.5px;
      margin-bottom: 15px;
      float: left; }
    .zhaohuanbox .warp .up p {
      width: 70%;
      color: #656565;
      font-size: 7px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      line-height: 20px;
      padding-left: 15px;
      margin-bottom: 20px;
      float: left; }
  .zhaohuanbox .warp h6 {
    font-size: 9px;
    color: #d81e22;
    margin: 10px 0;
    text-align: center; }
  .zhaohuanbox .warp button {
    background: #d81e22;
    color: #fff;
    text-align: center;
    width: 115px;
    height: 30px;
    line-height: 15.5px;
    margin: 0 auto 15px;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    letter-spacing: 3px;
    display: block; }
    .zhaohuanbox .warp button:focus {
      outline: none; }
  .zhaohuanbox .warp:nth-of-type(2) button {
    width: 200px;
    height: 71px;
    font-size: 13px; }
  .zhaohuanbox .warp img {
    display: block;
    margin: 0 auto 20px;
    width: 70%; }
  .zhaohuanbox .warp .text {
    text-align: center; }
    .zhaohuanbox .warp .text .caption {
      margin-top: 17px;
      color: #656565;
      font-size: 8px; }
      .zhaohuanbox .warp .text .caption span {
        color: #da4a57; }

.close {
  position: absolute;
  width: 28px;
  height: 29px;
  background: url("../img/close.png") no-repeat 0 0;
  right: -40px;
  top: 0;
  cursor: pointer; }

.guanbi {
  width: 28px;
  height: 29px;
  background: url("../img/close.png") no-repeat 0 0;
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 2%;
  height: 407px;
  z-index: 9999999;
  display: none; }

.libaobox {
  display: none;
  width: 80%;
  overflow: scroll;
  padding-bottom: 10vh; }
  .libaobox h2 {
    font-size: 15px; }
  .libaobox .tap {
    width: 100%;
    overflow: hidden;
    height: 65vh; }
  .libaobox .swiper-container {
    width: 100%;
    height: 65vh; }
  .libaobox .content {
    padding: 0 16px 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box; }
    .libaobox .content:after, .libaobox .content:before {
      clear: both;
      display: block;
      content: ''; }
    .libaobox .content .warp {
      background: #c5d5e4;
      border-radius: 3px;
      margin-right: 20px;
      position: relative;
      width: 100%;
      overflow: hidden; }
    .libaobox .content li {
      width: 100%;
      text-align: center;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      padding: 10px 0; }
      .libaobox .content li img {
        margin-top: 21px;
        width: 100%;
        height: auto;
        display: block; }
      .libaobox .content li:nth-of-type(2n) {
        margin-right: 0; }
      .libaobox .content li .state {
        height: 32px;
        background: #858585;
        width: 150px;
        position: absolute;
        color: #fff;
        font-size: 18px;
        line-height: 32px;
        text-align: center;
        -webkit-transform: rotate(-45deg) translate(-29%, -22px);
                transform: rotate(-45deg) translate(-29%, -22px); }
        .libaobox .content li .state.done {
          background: #d71d22; }
